<div>
        <div class="col-xs-4">
            <a class="logo" href="https://mysit.gfs.com"><img alt="Dashboard Logo" src="./images/logo.png"></a>
        </div>
        <div class="col-xs-4">
            <div class="page-title">
             <div>Translation Validation- Single Item</div>
            </div>
        </div>
        <div class="col-xs-4">
            <ul class="clearfix" id="header-actions">
                <li class="list-box user-dropdown">
                    <div class="admin-details">
                        <div class="projectTitle">TMS</div>
                    </div>
                </li>
                <li class="list-box hidden-xs dropdown"><a href="https://mysit.gfs.com" id="drop4" role="button"><i class="fa fa-question-circle"></i></a>
                </li>
                <li class="list-box hidden-xs dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="drop4" role="button"><i class="fa fa-cog"></i></a>
                    <ul class="dropdown-menu sm">
                        <li class="dropdown-content"><a class="dropdown-contentlabel" href="/profile.html">Edit Profile</a> </li>
                        <li class="dropdown-content"><a class="dropdown-contentlabel" href="/forgot-pwd.html">Change Password</a></li>
                        <li class="dropdown-content"><a class="dropdown-contentlabel" href="/login.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>