
    <div class="dashboard-wrapper">
        <div class="container">
            <div class="row gutter">
                <div class="col-xs-12  panel">                 
                    <div class="panel-heading row col-xs-12">
                        <div class="col-xs-6">
                            <label class="col-xs-5">Item Number :</label>
							<input type="text" class="custom-field select-left" value="590606"/>
							</div>
                        <div class="col-xs-6">
                            <label class="col-xs-5">Item Code :</label>
							<input type="text" class="custom-field select-left" value="0001"/>
							</div>
							</div>
							<div class="panel-heading row col-xs-12">
						<div class="col-xs-6">
							 <label class="col-xs-5">Translation Status Filter :</label>
							<select class="custom-field custom-select" [(ngModel)]="selectedApp"><option value="0">ALL</option><option *ngFor="let app of appsData" [ngValue]="app">{{app.nom}}</option></select>                          
                       </div>
						</div>
                    </div>
                </div>
            </div>
            <div class="row gutter">
                <div class="col-xs-12 panel">
                    <div class="panel-heading page-title">
                        <div>
                            Items Matching Inquiry Criteria
                        </div>
                    </div>
                    <div>
                        <ag-grid-ng2 class="ag-fresh" style="height: 300px; width: 100%;" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData"></ag-grid-ng2>
                    </div>
					<div class="col-xs-12">
						&nbsp;
					</div>
                </div>
            </div>
        </div>
    
 